.about {
    font-size: 1rem;
    padding: 2rem 4rem;
    background: url("https://media.giphy.com/media/6YXmxRMrjKZMLUree4/giphy.gif");
    font-family: 'Architects Daughter', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cont{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    width: 100%;
}

.cont p{
    font-size: 5rem;
    margin: 0;
}

#about-div{
    margin: 1rem 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.2rem;
}

#about-div a{
    text-decoration: none;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(90, 87, 87, 0.603);
    border-radius: .5rem;
    color: white;
    transition: box-shadow 0.5s;
}

#about-div a:hover{
    box-shadow: 2px 2px 10px 10px rgba(184, 180, 180, 0.884);
    color: black;
}

#image{
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    justify-self: end;
    box-shadow: 5px 5px 20px 10px rgba(110, 108, 108, 0.829);
}

#education{
    margin: 1rem 0;
    grid-row: 2 / span ;
    grid-column: 1 / span 2;
    font-size: 3rem;
}

#education ul{
    margin: 2rem 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.2rem;
}


.about::-webkit-scrollbar{
    width: 0;
}

@media (min-width: 320px) and (max-width: 425px) {
    .about {
        height: 85vh;
        font-size: 1rem;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }

    #abt{
        grid-column: 1 / span 2;
    }

    #image{
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        margin: 2rem;
        justify-self: center;
    }
    #education{
        align-self: center;
        grid-row: 3 / span 1;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .about {
        height: 85vh;
        font-size:1rem;
        padding: 0;
        margin: auto;
        text-align: center;
    }
    #abt{
        grid-column: 1 / span 2;
    }

    #image{
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        margin: 2rem;
        justify-self: center;
    }
    #education{
        align-self: center;
        grid-row: 3 / span 1;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .about {
        height: 85vh;
    }
    
}