.home {
    font-size: 5rem;
    padding: 2rem 6rem;
    -webkit-text-stroke: 1px black;
    background: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif'), rgba(131, 122, 122, 0.541);
    background-position: center;
    color: #DFDFDF;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.home::-webkit-scrollbar{
    width: 0;
}

.home span {
    color: #DFDFDF;
    font-size: 7rem;
}

@media (min-width: 320px) and (max-width: 425px) {
    .home {
        height: calc(85vh - calc(85vh - 85%));
        font-size: 2.8rem;
        padding: 0;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .home {
        height: calc(85vh - calc(85vh - 85%));
        font-size: 3.5rem;
        padding: 0;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .home {
        height: calc(85vh - calc(85vh - 85%));
    }
}

@media (min-width: 1201) and (max-width: 1200px) {
    
}