@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;

}

a {
    margin: auto 1rem;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

a:hover,
a:active{
    color: black;
}

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(58, 54, 54, 0.726);
    z-index: 101;
    transition: display 1s ease-out;
    display: none;
}

.sidebar{
    position: fixed;
    z-index: 102;
    right: 0;
    background: white;
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-content: center;
    grid-template-areas:"br-name"
                        "links"
                        "logo";
    transform: translateX(100%);
    transition: transform .5s ease-out;
    display: none;
}

.heading{
    grid-area: br-name;
    font-size: 2rem;
    text-align: center;
    align-self: center;
}

.logo{
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

.logo img{
    height: 100px;
}

.links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.links a{
    color: black;
    justify-self: center;
    transition: color .5s;
    margin: 1rem;
}

.links a:hover{
    color: grey;
}

.container {
    display: grid;
    grid-template-areas:"navbar"
                        "content" 
                        "footer";
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(70, 68, 68, 0.7);
    color: white;
    padding: 1rem;
    z-index: 100;
    grid-area: navbar;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons,
.icons1{
    display: flex;
    justify-content: space-between;    
}

.icons svg,
.icons1 svg{
    transition: height .5s,width .5s;
}

.icons svg:hover,
.icons1 svg:hover{
    color: white;
    height: 35px;
    width: 35px;
}

.nav-switch{
    width: 3rem;
    justify-self: center;
    align-self: center;
    margin-right: 2rem;
    display: none;
    outline: none;
}

.ham{
    width: 90%;
    height: .25rem;
    background-color: white;
    margin: .5rem;
    transition: color .5s;
}

.content {
    grid-area: content;
    width: 100%;
    margin-top: 112px;
}

.main-first {
    position: relative;
    height: 90vh;
    width: 100%;
    background: #FBFBFB;
    display: grid;
    grid-template-columns: 60% 40%;
}

.img-cont {
    background: url('../images/bg.jpeg'), #FBFBFB;
    height: 95vh;
    background-size: cover;
    position: absolute;
    left: -10rem;
    bottom: 1.5rem;
    z-index: 0;
    background-repeat: no-repeat;
    transform: translateX(-40rem);
    transition: transform 1.2s ease-out;
}

.text-cont {
    cursor: context-menu;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    text-align: right;
    right: 7rem;
    top: 1rem;
    width: 30rem;
    transform: translateX(150%);
    transition: transform 1s ease-out;
    /* display: none; */
}

.logo-img{
    width: 250px;
}

.jumbotron {
    background: rgba(70, 68, 68, 0.7);
    position: relative;
    text-align: center;
    height: 28rem;
    padding: 2rem;
    color: white;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: 1.5rem;
}

.shop-btn {
    padding: 2rem;
    background-color: black;
    position: relative;
    bottom: -5rem;
    font-size: 1.5rem;
    transition: box-shadow .5s;
    border: 1px solid white;
    border-radius: 5px;
}

.shop-btn:hover {
    box-shadow: 0px 0px 7px 10px rgba(211, 206, 206, 0.904);
    color: rgba(128, 128, 128, 0.795);
}

.shoe-1,
.shoe-2{
    display: grid;
    padding: 6rem;
    justify-content: center;
    position: relative;
}

.shoe-1{
    grid-template-columns: 60% 40%;
    background-color: #F6F6F6;
}

.shoe-2{
    grid-template-columns: 40% 60%;
    background-color: #57BBF9;
}

.vert {
    height: 70%;
    width: 2rem;
    background: #57BBF9;
    position: absolute;
    left: 3.5rem;
    top: 1.25rem;
    transition: height .5s ease-out;
    
}

.horz {
    width: 40%;
    height: 2rem;
    background: #57BBF9;
    position: absolute;
    left: 1.5rem;
    top: 2.5rem;
}

.vert2 {
    height: 70%;
    width: 2rem;
    background: black;
    position: absolute;
    right: 3.5rem;
    bottom: 1.25rem;
    transition: height .5s ease-out;
}

.horz2 {
    width: 40%;
    height: 2rem;
    background: black;
    position: absolute;
    right: 1.5rem;
    bottom: 2.5rem;
}

.shoe-desc {
    width: 60%;
    border: 1px solid black;
    padding: 3rem;
    margin: 3rem 5rem;
    position: relative;
    transition: box-shadow .5s ease-out;
}

.shoe-desc:hover{
    box-shadow: 2px 2px 10px 10px rgba(112, 103, 103, 0.514);
}

.shoe-2 .shoe-desc{
    justify-self: end;
}

.shoe-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    transition: height .5s ease-out;
}

.shoe-img:hover{
    height: 40rem;
}

.price{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0;
    color: white;
    background: rgba(70, 68, 68, 0.7);
}

.featured{
    text-align: center;
}

.featured h1{
    font-size: 3rem;
    padding: 1.5rem;
}

.featured h2{
    font-size: 1.5rem;
    padding: 2rem;
}

.card-cont{
    display: grid;
    grid-template-columns: repeat(3,27%);
    column-gap: 2rem;
    justify-content: center;
}

.card{
    background: #f5f5f5;
    transition: height .5s, box-shadow .5s;
}

.card:hover{
    box-shadow: 2px 2px 10px 10px rgba(112, 103, 103, 0.514);
}

.feat-img{
    height: 300px;
}

.feat-txt{
    font-size: 1rem;
    padding: 2rem;
}

.footer {
    grid-area: footer;
    background: black;
    color: white;
    margin-top: 3rem;
    display: grid;
    padding: 2rem;
    grid-template-columns: 40% 40% 15%;
}

.quick-links{
    display: flex;
    flex-direction: column;
}

.footer a:hover{
    color: gray;
}

@media (min-width: 320px) and (max-width: 425px){
    .nav-switch{
        display: block;
    }

    .navi{
        display: none;
    }

    .icons{
        display: none;
    }

    .main-first {
        grid-template-columns: 100%;
    }

    .jumbotron {
        background: rgba(70, 68, 68, 0.7);
        position: relative;
        text-align: center;
        height: 18rem;
        padding: .5rem;
    }
    
    .jumbotron h1 {
        font-size: 1.5rem;
    }
    
    .jumbotron p {
        font-size: 1rem;
        padding: 1rem;
    }

    .img-cont{
        width : 95%;
        height : auto;
        left: 1rem;
    }
    
    .text-cont{
        text-align: center;
        font-size: 2rem;
        right: 6rem;
        width: 10rem;
        /* transform: translateX(0); */
    }

    .shop-btn{
        padding: 1rem;
        font-size: 1rem;
        bottom: -3rem;
    }

    .logo-img {
        width: 125px;
    }

    .featured h1{
        font-size: 1.5rem;
    }

    .featured h2{
        font-size: 1rem;
    }

    .feat-img{
        height: 200px;
    }

    .card-cont{
        grid-template-columns: 90%;
        row-gap: 1.5rem;
    }

    .shoe-1,
    .shoe-2{
        padding: 1rem;
        grid-template-columns: 100%;
    }

    .shoe-desc{
        padding: 1.5rem;
        width: 85%;
        margin: 2rem auto;
    }

    .shoe-img{
        height: 13rem;
        justify-self: center;
    }

    .shoe-img:hover{
        height: 15rem;
    }

    .vert,
    .vert2,
    .horz,
    .horz2{
        display: none;
    }

    .footer{
        grid-template-columns: 100%;
        text-align: center;
    }
}

@media (min-width: 425px) and (max-width: 768px){
    .nav-switch{
        display: block;
    }

    .navi{
        display: none;
    }

    .icons{
        display: none;
    }

    .main-first {
        grid-template-columns: 100%;
    }

    .jumbotron {
        background: rgba(70, 68, 68, 0.7);
        position: relative;
        text-align: center;
        height: 23rem;
        padding: .5rem;
    }
    
    .jumbotron h1 {
        font-size: 2rem;
    }
    
    .jumbotron p {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .img-cont{
        width : 95%;
        height : auto;
        left: 1rem;
    }
    
    .text-cont{
        text-align: center;
        font-size: 3rem;
        right: 6rem;
        width: 10rem;
        /* transform: translateX(0); */
    }

    .shop-btn{
        padding: 1.5rem;
        font-size: 1.5rem;
        bottom: -3rem;
    }

    .logo-img {
        width: 125px;
    }

    .featured h1{
        font-size: 2rem;
    }

    .featured h2{
        font-size: 1.5rem;
    }

    .feat-img{
        height: 300px;
    }

    .card-cont{
        grid-template-columns: 90%;
        row-gap: 1.5rem;
    }

    .shoe-1,
    .shoe-2{
        padding: 2rem;
        grid-template-columns: 100%;
    }

    .shoe-desc{
        padding: 1.5rem;
        width: 85%;
        margin: 2rem auto;
    }

    .shoe-img{
        height: 20rem;
        justify-self: center;
    }

    .shoe-img:hover{
        height: 23rem;
    }

    .vert,
    .vert2,
    .horz,
    .horz2{
        display: none;
    }

    .footer{
        grid-template-columns: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .nav-switch{
        display: block;
    }

    .navi{
        display: none;
    }

    .icons{
        display: none;
    }

    .main-first {
        grid-template-columns: 100%;
    }

    .jumbotron {
        background: rgba(70, 68, 68, 0.7);
        position: relative;
        text-align: center;
        height: 23rem;
        padding: .5rem;
    }
    
    .jumbotron h1 {
        font-size: 2rem;
    }
    
    .jumbotron p {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .img-cont{
        width : 95%;
        height : auto;
        left: 1rem;
    }
    
    .text-cont{
        text-align: center;
        font-size: 4rem;
        right: 6rem;
        width: 10rem;
        transition: transform .5s;
        /* transform: translateX(0); */
    }

    .shop-btn{
        padding: 1.5rem;
        font-size: 1.5rem;
        bottom: -3rem;
    }

    .logo-img {
        width: 125px;
    }

    .featured h1{
        font-size: 2rem;
    }

    .featured h2{
        font-size: 1.5rem;
    }

    .feat-img{
        height: 300px;
    }

    .card-cont{
        grid-template-columns: 90%;
        row-gap: 1.5rem;
    }

    .shoe-1,
    .shoe-2{
        padding: 2rem;
        grid-template-columns: 100%;
    }

    .shoe-desc{
        padding: 1.5rem;
        width: 85%;
        margin: 2rem auto;
    }

    .shoe-img{
        height: 20rem;
        justify-self: center;
    }

    .shoe-img:hover{
        height: 23rem;
    }

    .vert,
    .vert2,
    .horz,
    .horz2{
        display: none;
    }

    .footer{
        grid-template-columns: 100%;
        text-align: center;
    }
}
